.story-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin: 5vh auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 2rem;
}

img{
    max-width: 50vw;
    max-height: 50vh;
    border-radius: 1rem;
}