
.button-container{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgb(252, 224, 120), rgb(115, 143, 156));
    color:darkslategray;
    padding: 2vh 2vw;
    border-radius: 3vw;
    min-width: 40vw;

}

.space-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vw;
}

